div.pro_item {
    font-size: 150%;
    padding: 1% 5%;
    width: 100%;
}

div.body1 {
    height: 100%;
    width: 100%;
    display: flex;

}
.pro_img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
}
.pro_img {
    padding: 1% 0% 0% 5%;
    width: 60%;
    height: auto;
}

.pro_alt {
    width: 40%;
    padding: 1% 0% 0% 3%;
    display: flex;
    flex-direction: column;
}

.pro_alt h1 {
    
    font-size: 200%;
}

.pro_alt p {
    font-size: 100%;
}
/*  mobile and tablet */
@media only screen  and (max-width:1024px) {
    .pro_img {
        width: 90%;
        height: auto;
    }
    .pro_alt {
        width: 100%;
        padding: 1% 0% 0% 5%;
        text-align: center;
        
    }
    div.body1 {
        flex-wrap: wrap
        
    }

}
  /* Mobile width <740px */
  @media only screen and (max-width:740px) {
}

/* tablet width >=740px and width< 1024 */
@media only screen and (min-width:741px) and (max-width:1024px) {
}