{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}

{% block head %}
{% load static %}
<style>
    .header_4 {
        display: flex;
        flex-direction: row-reverse;
        width: 73%;
    }

    div.dropdown {
        padding: 2% 0%;
        background-color: #EFEFEF;
    }

    .dropdown:hover {
        background-color: white;
        height: 100%;
    }

    .dropbtn {

        color: black;
        height: 100%;
        width: 100%;
        font-size: 100%;
        border: none;
        cursor: pointer;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .blogi_body {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .blogi_side {
        width: 20%;
    }

    .blogi_mid {
        width: 60%;
        flex-direction: column;
    }

    .blogi_add_comment {
        text-align: left;
    }

    .blogi_mid h1 {
        font-size: 250%;
    }
    .blogi_comment{
        border-radius:5px;
        background-color: #EEEEEE;
    }
    .blogi_comments h1{
        color: #2e98ff ;
        font-size: 120%;
    }

    /*  mobile and tablet */
    @media only screen and (max-width:1024px) {}

    /* Mobile width <740px */
    @media only screen and (max-width:740px) {
        .blogi_side {
            width: 1%;
        }

        .blogi_mid {
            width: 98%;
        }

        .blogi_add_comment {
            text-align: center;
        }
    }

    /* tablet width >=740px and width< 1024 */
    @media only screen and (min-width:741px) and (max-width:1024px) {
        .blogi_side {
            width: 10%;
        }

        .blogi_mid {
            width: 80%;
        }

        .blogi_add_comment {
            text-align: center;
        }


    }
</style>
<div class="header_4">
    <div class="dropdown">
        <div><button class="dropbtn">Blog Manager</button></div>
        <div class="dropdown-content">
            <a href="{% url 'blog:create_blog' %}">Add Blog</a>
            <a href="{% url 'blog:update_blog' blog.id %}">Edit Blog</a>
            <a href="{% url 'blog:delete_blog' blog.id %}">Delete Blog</a>
        </div>
    </div>

</div>
{%endblock%}
{% block body %}
<div class="blogi_body">
    <div class="blogi_side"></div>
    <div class="blogi_mid">
        <div>
            <p>{{blog.id}}</p>
            <h1> {{blog.title}}</h1>
            <h3><br>{{blog.description}}</h3>
            <p> <br>{{blog.content}} <br></p>
        </div>

        <div class="blogi_comments">
            {% for comment in comments %}
            <br>
                <div class="blogi_comment">
                    <h1>{{comment.name}}</h1>
                    <p>{{comment.comment}}</p>
                    
                </div>
                
            {% endfor %}
        </div>

        <div class="blogi_add_comment">
            <h1><br> Leave a comment:</h1>
            <form method="POST">
                {% if error_message %}
                <span class="alert">{{error_message}}</span>
                <br>
                {% endif %}
                {% csrf_token %}
                <input type="text" name="your_name" placeholder="Your name">
                <br><br>
                <textarea type="text" rows="10" cols="30" name="comment" placeholder="Leave a comment"></textarea>
                <br><br>
                <input class="submit" type="submit" name="submit" value="Save">
            </form>
        </div>
    </div>
    <div class="blogi_side"></div>
</div>
{%endblock%}