{% extends 'main/base.html' %}
{% block title %} First Project {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<!-- <style>
div.pro_item {
    font-size: 150%;
    padding: 1% 5%;
    width: 100%;
}

div.body1 {
    height: 100%;
    width: 100%;
    display: flex;

}
.pro_img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
}
.pro_img {
    padding: 1% 0% 0% 5%;
    width: 60%;
    height: auto;
}

.pro_alt {
    width: 40%;
    padding: 1% 0% 0% 3%;
    display: flex;
    flex-direction: column;
}

.pro_alt h1 {
    
    font-size: 200%;
}

.pro_alt p {
    font-size: 100%;
}
  /* Mobile width <740px */
  @media only screen and (max-width:740px) {
    div.body1 {
        flex-wrap: wrap
        
    }
    .pro_img {
        max-width: 90%;
        height: auto;
}
.pro_alt {
    width: 100%;
    padding: 1% 0% 0% 5%;
    text-align: center;
    
}
   
}

/* tablet width >=740px and width< 1024 */
@media only screen and (min-width:741px) and (max-width:1024px) {
    div.body1 {
        flex-wrap: wrap
        
    }
    .pro_img {
        width: 90%;
        height: auto;
    }
    .pro_alt {
    
        padding: 1% 0% 0% 5%;
        
    }
}
</style> -->
<div>
    <div class="pro_item">
        <h1>My First Project</h1>
    </div>
    <div class="body1">
        <div class="pro_img">
        <img src="{% static 'img/first.jpg' %}" alt="">
        </div>
        <div class="pro_alt">
            <div>
                <h1>About the project:</h1>
                <br>
                <p>A web development project</p>
                <br>
            </div>
            <div>
                <h1>Technology used:</h1>
                <br>
                <p>Django</p>
                <br>
                <p>HTML,CSS,Javascript</p>
                <br>
                
            </div>
            <div>
                <h1>Author</h1>
                <br>
                <p>Duy Hieu</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}