{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
    .body_content img{
        transition: all .2s ease-in-out;
    }
    
    .body_content img:hover{
        transform: scale(1.1);
    }
    .body_content a{
        transition: all .2s ease-in-out;
    }
    .body_content a:hover{
        transform: scale(1.2);}
</style>
<div>
    <div style="font-size: 250%; padding:1% 0% 1% 5%"><h1>Projects</h1></div>
    <div class="body_projects">
        <div class="body_content">
            <img  width="100%" src="{% static  'img/first.jpg' %}" alt="">
            <h1>My First Project</h1>
            <h2>A web development project</h2>
            <a href="{% url 'main:first' %}">Read More</a>
        </div>
        <div class="body_content">
            <img width="100%"  src="{% static  'img/second.jpg' %}" alt="">
            <h1>My Second Project</h1>
            <h2>A web development project</h2>
            <a href="{% url 'main:second' %}">Read More</a>
        </div>
        <div class="body_content">
            <img width="100%"  src="{% static  'img/third.jpg' %}" alt="">
            <h1>My Third Project</h1>
            <h2>A web development project</h2>
            <a href="{% url 'main:third' %}">Read More</a>
        </div>
        <div></div>
        <div></div>
    </div>
</div>
{%endblock%}