a {
    color: black;
    text-decoration-line:none;
}
.header {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: beige;
}
.header_1 {
    padding: 0% 0% 1% 5%;
    width: 17%;
    height: 100%;
    font-size: 250%;
    font-weight : bolder;
}
div.header_2 {
    padding: 1% 0% 1% 0%;
    font-size: 150%;
    width: 5%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    
}
div.header_2 :hover{
    background-color: #A9A9A9;
}